<button id="toggleCreateTask" mat-button (click)="toggleCreateTask()">{{toogleMsgListTask[positionMsgListTask]}}</button>
<app-create-task *ngIf="isCreatingTask" [creator]="this.user"></app-create-task>

<button id="toggleCreateGroup" mat-button (click)="toggleCreateGroup()">{{toogleMsgListGroup[positionMsgListGroup]}}</button>
<app-create-group *ngIf="isCreatingGroup" [creator]="this.user"></app-create-group>


<h3 id="UserSpaceName">Espaço de {{this.user?.nickname}}</h3>

<section>
<h1> Suas Tarefas</h1>    
<section>
    <div class="showTaskTitle" (click)="isShowDoingTasks = !isShowDoingTasks">
        <h2 >Em andamento</h2>
        <span class="quantyTasksShow">{{filterTaskState('doing').length}} </span>
    </div>
    <app-show-task *ngIf="isShowDoingTasks" [tasksToShow]="filterTaskState('doing')" [owner]="user"></app-show-task>
  </section>
  
  <section>
    <div class="showTaskTitle" (click)="isShowDoneTasks = !isShowDoneTasks">
        <h2 >Concluídas</h2>
        <span class="quantyTasksShow">{{filterTaskState('done').length}} </span>
    </div>

    <app-show-task *ngIf="isShowDoneTasks" [tasksToShow]="filterTaskState('done')" [owner]="user"></app-show-task>
  </section>
  
  <section>
    <div class="showTaskTitle" (click)="isShowAllTasks = !isShowAllTasks">
        <h2 >Todas</h2>
        <span class="quantyTasksShow">{{filterTaskState().length}} </span>
    </div>
    <app-show-task *ngIf="isShowAllTasks" [tasksToShow]="filterTaskState()" [owner]="user"></app-show-task>
  </section>
</section>
<h1> Seus Grupos</h1>    
<section>
  <app-show-group [groupsToShow]="filterGroups()"[currentUser]="user">
  </app-show-group>
</section>