<button id="toggleCreateTask" mat-button (click)="toggleCreateTask()">{{toogleMessageList[posicao]}}</button>
<app-create-task *ngIf="isCreatingTask" [actualUser]="this.user"></app-create-task>
<h3 id="UserSpaceName">Espaço de {{this.user?.nickname}}</h3>

<section>
<h1> Suas Tarefas</h1>    
<section>
    <div class="showTaskTitle" (click)="isShowDoingTasks = !isShowDoingTasks">
        <h2 >Em andamento</h2>
        <span class="quantyTasksShow">{{filterTaskState('doing').length}} </span>
    </div>
    <app-show-task *ngIf="isShowDoingTasks" [tasksToShow]="filterTaskState('doing')" [userOwner]="user"></app-show-task>
  </section>
  
  <section>
    <div class="showTaskTitle" (click)="isShowDoneTasks = !isShowDoneTasks">
        <h2 >Concluídas</h2>
        <span class="quantyTasksShow">{{filterTaskState('done').length}} </span>
    </div>
    <app-show-task *ngIf="isShowDoneTasks" [tasksToShow]="filterTaskState('done')" [userOwner]="user"></app-show-task>
  </section>
  
  <section>
    <div class="showTaskTitle" (click)="isShowAllTasks = !isShowAllTasks">
        <h2 >Todas</h2>
        <span class="quantyTasksShow">{{filterTaskState().length}} </span>
    </div>
    <app-show-task *ngIf="isShowAllTasks" [tasksToShow]="filterTaskState()" [userOwner]="user"></app-show-task>
  </section>
</section>
  