<mat-toolbar id="Header">
  <div>
    <div class="logo" [routerLink]="['PrincipalPage']">
      <button mat-button (click)="toggleSidenav()"> <mat-icon>menu</mat-icon></button>
      <mat-icon>task</mat-icon>
      <span>{{titleCompany}}</span>
    </div>
    <div>
      <p class="pageDescription"></p>
    </div>
  </div>

  <div class="choiceBox">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['RegisterUser']" >
        Registrar
      </button>
      <button mat-menu-item [routerLink]="['Login']">
        Login
      </button>
    </mat-menu>

    <button mat-button>
      <mat-icon>event</mat-icon>
    </button>
  </div>
</mat-toolbar>
