#Header #First-Row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(20vh / 2);
    padding: 20px 10px;
    font-size: 1.5rem;
    background: rgb(35, 56, 80) ;
    color: white;
    flex: 1 1 auto;
}

.choiceBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
}

.logo{
    display: flex;
    font-size: 2rem;
    cursor:pointer;
}

