<mat-toolbar id="Header">
  <div>
    <div [routerLink]="['PrincipalPage']" class="logo">
      <mat-icon>task</mat-icon>
      <span>{{titleCompany}}</span>
      <span *ngIf="currentUser">| {{currentUser.nickname}}</span>
    </div>
    <div>
      <p class="pageDescription"></p>
    </div>
  </div>

  <div class="choiceBox">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account-circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['RegisterUser']" mat-menu-item>
        Registrar
      </button>
      <button mat-menu-item [routerLink]="['Login']">
        Login
      </button>
    </mat-menu>
    <button mat-button >
      <mat-icon>event</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>apps</mat-icon>
    </button>
  </div>
</mat-toolbar>
