#Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    font-size: 2rem;
    background: rgb(35, 56, 80) ;
    color: white;

}

.choiceBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
}

.logo{
    display: flex;
    font-size: 3rem;
}

