<mat-card class="taskCard">
  <mat-card-header>
    <mat-card-title>{{task.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="task.imageLink">
  <mat-card-content>
    <p>
      {{task.description}}
    </p>
<!--     <div class="dateBox">
      <p *ngIf="task.dateStart">Inicio:{{task.dateStart | date}}</p>      
      <p *ngIf="task.dateFinal">Término:{{task.dateFinal| date }}</p>      
    </div>   -->

  </mat-card-content>
  <mat-card-actions class="buttonBox">
    <button mat-button (click)="viewTask()" class="checkBtn"><mat-icon>check</mat-icon></button>
    <button mat-button (click)="editTask()" class="editBtn"><mat-icon>edit</mat-icon></button>
    <button mat-button (click)="removeTask()" class="removeBtn"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>
