<mat-card class="taskCard">
  <mat-card-header>
    <mat-card-title>{{task.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="task.imageLink">
  <mat-card-content>
    <p>
      {{task.description}}
    </p>
  </mat-card-content>
  <mat-card-actions class="buttonBox">
    <button mat-button (click)="viewTask()"><mat-icon>visibility</mat-icon></button>
    <button mat-button (click)="editTask()"><mat-icon>edit</mat-icon></button>
    <button mat-button (click)="removeTask()"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>
