<mat-card class="taskCard {{ 'task'+ task.state}}">
  <mat-card-header>
    <mat-card-title>{{task.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="task.imageLink">
  <mat-card-content>
    <p>
      {{task.description}}
    </p>
    <mat-select [(ngModel)]="task.state" value="{{task.state}}" (valueChange)=" changeTaskState()">
      <mat-option value="waiting">Esperando</mat-option>
      <mat-option value="doing">Fazendo</mat-option>
      <mat-option value="done">Terminado</mat-option>
    </mat-select>
  </mat-card-content>


  <mat-card-actions class="buttonBox">

    <button mat-button (click)="editTask()" class="editBtn"><mat-icon>edit</mat-icon></button>
    <button mat-button (click)="removeTask()" class="removeBtn"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>