<button id="toggleCreateTask" mat-button
  (click)="toggleCreateTask()">{{toogleMsgListTask[positionMsgListTask]}}</button>
<app-create-task *ngIf="isCreatingTask" [creator]="this.currentGroup"></app-create-task>

<button id="toggleAddMember" mat-button (click)="addNewMember()">Adicionar Membro</button>

<h3 id="GroupSpaceName">Grupo: {{this.currentGroup?.name}}</h3>

<section>
  <h1> Tarefas Adicionadas</h1>
  <section>
    <div class="showTaskTitle" (click)="isShowDoingTasks = !isShowDoingTasks">
      <h2>Em andamento</h2>
      <span class="quantyTasksShow">{{filterTaskState('doing').length}} </span>
    </div>

    <app-show-task *ngIf="isShowDoingTasks" [tasksToShow]="filterTaskState('doing')" [owner]="group"></app-show-task>
  </section>

  <section>
    <div class="showTaskTitle" (click)="isShowDoneTasks = !isShowDoneTasks">
      <h2>Concluídas</h2>
      <span class="quantyTasksShow">{{filterTaskState('done').length}} </span>
    </div>

    <app-show-task *ngIf="isShowDoneTasks" [tasksToShow]="filterTaskState('done')" [owner]="group"></app-show-task>
  </section>

  <section>
    <div class="showTaskTitle" (click)="isShowAllTasks = !isShowAllTasks">
      <h2>Todas</h2>
      <span class="quantyTasksShow">{{filterTaskState().length}} </span>
    </div>
    <app-show-task *ngIf="isShowAllTasks" [tasksToShow]="(currentGroup? filterTaskState(''): [])" [owner]="group"></app-show-task>
  </section>

  <section>
    <h1>Membros</h1>
    <div class="showTaskTitle">
    <h2>Administradores</h2>
      <span class="quantyParticipantShow">{{0}} </span>
    </div>
    
    <div class="showTaskTitle" (click)="isShowAllMembers = !isShowAllMembers">
      <h2>Todos</h2>
      <span class="quantyParticipantShow">{{filterparticipants().length}} </span>
    </div>
    <mat-card *ngFor="let user of (currentGroup? filterparticipants() : [])" class="participant">
      <mat-card-title>
        <h2>{{user}}</h2>
      </mat-card-title>
      <mat-card-actions>
        <button mat-button (click)="removeParticipant(user)">
          Remover
        </button>
      </mat-card-actions>
    </mat-card>
  </section>