.ErrorMessage{
    color: red;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%; 
}
.container form{
    display: flex;
    flex-direction: column;
    width: 50%
}
.container button{
    font-size: 2rem;
}

