<section class="container" [ngClass]="{ 'success': registeredUser>0, 'failed': registeredUser==0 }">
  
  <h2 class="titlePage">Registre-se</h2>
  
  <form (ngSubmit)="registerUser()" >
    <mat-form-field class="formCamp">
      <mat-label>Insira um apelido:</mat-label>
      <input matInput required [(ngModel)]="nickname" type="text" id="nickname" name="nickname">
    </mat-form-field>

    <mat-form-field class="formCamp">
      <mat-label>Seu Email:</mat-label>
      <input matInput required [(ngModel)]="email" type="email" id="email" name="email">
    </mat-form-field>

    <mat-form-field class="formCamp">
      <mat-label>Senha:</mat-label>
      <input matInput required [(ngModel)]="password" type="password" id="password" name="password">
    </mat-form-field>
    <button mat-button color="accent" type="submit">Registrar-se</button>
    
    <div class='messageBox' *ngIf="statusMessage">  
      <p [ngClass]="{ 'sucessMessage': registeredUser>0, 'errorMessage': registeredUser==0}">
        {{statusMessage}}
      </p>
    </div>
  </form>
</section>
