#GroupSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas de tamanho igual */
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    width: 100vw;
  }