<app-header titleCompany="{{title}}" (toggle)="toggleSidenavBar()"> </app-header>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="openMenu">
        
        <button mat-button [routerLink]="['home']">
            <mat-icon>home</mat-icon> Home
        </button>
        <mat-divider />
        
        <button mat-button [routerLink]="['home']">
            <mat-icon>task</mat-icon> Atividades
        </button>
        <mat-divider />
        <button mat-button [routerLink]="['RegisterUser']">
            <mat-icon>event</mat-icon> calendario
        </button>
        <mat-divider />
        
        <button mat-button disabled>
            <mat-icon>group</mat-icon> Grupos
        </button>

        <mat-divider />
        <button mat-button disabled>
            <mat-icon>settings</mat-icon> configurações
        </button>

    </mat-sidenav>
    <mat-sidenav-content id="page">
        <router-outlet ></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>