app-header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

#page {
  margin-top: 10vh;
}
  
.mat-sidenav {
  position: fixed;
  top: 10vh;
  height: 100%;
  width: 300px;
  background-color: #233850;
  color: white;
}
button{
  color: white !important;
}