app-header {
    position: absolute;
    width: 100%;
    z-index: 100; 
  }
  
  mat-sidenav-container {
    padding-top: 64px; 
  }

.mat-sidenav{
    position: absolute;
    margin-top: 15vh;
    height: calc(205vh - 105vh);
    width: 300px;
    background-color:#233850;
    color: white;
}