<section id="comboToggleComponent">
    <div id="comboBoxSection">
        <p> Selecione um usuário</p>
        <app-combo-user id="comboUser" (userSelectedChange)="this.onUserselectedChange($event)"></app-combo-user>
    </div>
    
    <button id="toggleCreateTask" mat-button (click)="toggleCreateTask()">{{toogleMessageList[posicao]}}</button>
</section>

<app-create-task *ngIf="isCreatingTask" [actualUser]="this.userSelected"></app-create-task>

<app-show-task [actualUser]="this.userSelected"></app-show-task>