/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
margin: 0; 
font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.titlePage{
    font-size: 3rem;
}

.ErrorMessage{
    color: red;
    margin: 10px 0;
}

.mat-icon-lg{
    font-size: 26px !important;
    height: auto !important;
    width: auto !important;
}


.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
    opacity: 1;
}