<section class="introduction">
    <div class="overlay"></div>

    <div class="intro-text">
            <h1>That's Your Task</h1>
            <p> Sistema de Gerenciamento de Tarefas</p>

        <section class="buttons">
        <div class="butonBox">
            <button class="btn" [routerLink]="['/login']"> Login</button>
            <button class="btn" [routerLink]="['/register']"> Registrar-se</button>
        </div>
        <div class="butonBox">
            <button class="btn" [routerLink]="['/users']"> todos os usuários 😈</button>
            <button class="btn" [routerLink]="['/groups']"> todos os grupos 😈</button>

        </div>
        </section>
    </div>
</section>