
.data{
    padding: 20px;
    height: 100%;
    width:80%;
}

.data mat-form-field{
    width: 100%;
}

 .button-box{
    align-items: center;
    padding:10px;
}

.button-box button{
    margin: 0 2%;
    width: 45%;
    
}

.dateBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 100%;
}