<h1>Edit Task</h1>

<!-- Campos de edição -->
<mat-form-field>
  <input matInput [(ngModel)]="data.title" placeholder="Título">
</mat-form-field>

<mat-form-field>
  <textarea matInput [(ngModel)]="data.description" placeholder="Descrição"></textarea>
</mat-form-field>

<mat-form-field>
  <input matInput [(ngModel)]="data.imageLink" placeholder="Link da Imagem">
</mat-form-field>

<div class="dataBox">
  <mat-form-field>
    <input matInput [(ngModel)]="data.dateStart" placeholder="Data para Iniciar">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.dateFinal" placeholder="Data para Encerrar">
  </mat-form-field>
    
</div>
<!-- Botões de ação -->
<div class="button-container">
  <button mat-button (click)="saveChanges()">Salvar</button>
  <button mat-button (click)="cancel()">Cancelar</button>
</div>
