<section class="section">
  <section class="container" [ngClass]="{ 'success': loginSucessCheck>0, 'failed': loginSucessCheck==0 }">
    <h2 class="titlePage">Login</h2>
    
    <form (ngSubmit)="login()">
      <mat-form-field class="formCamp">
        <mat-label for="nickname">Nickname:</mat-label>
        <input matInput type="text" id="nickname" name="nickname" [(ngModel)]="userToLogin.nickname" required>
      </mat-form-field>
    
      <mat-form-field class="formCamp">
        <mat-label for="password">Senha:</mat-label>
        <input matInput type="password" id="password" name="password" [(ngModel)]="userToLogin.password" required>
      </mat-form-field>
    
      <button mat-button color="accent" type="submit">Entrar</button>
    </form>
    <div *ngIf="statusMessage">
      <p [ngClass]="{ 'sucessMessage': loginSucessCheck>0, 'errorMessage': loginSucessCheck==0}">
        {{statusMessage}}
      </p>
    </div>

  </section>
</section>